
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.fluid{
  background-color: #FCF4E8;
  padding: 10px;
}

.title{
  font-family: 'Public Sans', sans-serif;
  font-weight: 800;
}

.links{
  font-size: 70%;
  font-family: 'Public Sans', sans-serif;
  font-weight: 600;
}


.App-header {
  background-color: #FCF4E8;
  border-bottom: solid 2px #000000;
  font-weight: 500;
  color: #C97E2E !important;

}

.full-width-image {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
}

.full-width-image img {
  width: 100%;
}

.heading {
  font-size: vw;
  font-family: "Public Sans", sans-serif;
  width: 750px;
  margin: 10%;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.p1{
  font-size: 4vw;
  text-align: center;
  background-color: #FCF4E8;
  font-family: "Public Sans", sans-serif;
  padding-top: 12%;
  padding-bottom: 22%;
  color: #C98030;
  font-weight: 700;
  line-height: 1.25;
}

.paragraph-headings {
  font-size: 4vw;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 1px;
  word-spacing:1.25%;
}
.p2 {
  font-size: 1.5vw;
  text-align: center;
  font-weight: 500;
  color: #3F342C;

}
.p3 {
  font-size: 2vw;
  font-family: "Public Sans", sans-serif;
  width: 750px;
  text-align: center;
  color: #e68a00;
  margin: 4%;
}
.p4{
   font-size: 45px;

  /* width: 100px; */
  text-align: center;
  margin: 0%;
}
.p5{
  font-size: 45px;
  text-align: center;
  margin: 0%;
}

.call{
  min-height: 20vh;
  font-family: 'Roboto Mono', sans-serif;
  color:#3C2F29;
  font-size: 2.1vw;
  padding-top: 8%;
  padding-bottom: 17%;
  padding-left: 15% !important;
  padding-right: 15% !important;
}

.backgroundforcall{
  background-color: #FDF2E2;
}

p{
  line-height: 1.25;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  white-space: nowrap;

}


.however{
  color: #FDF2E2;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 10.5vw;
  padding-top: 6.2%;
  padding-bottom: 6.2%;
    }

.sep{
  background-color: #FFFFF;
  min-height: 20vh;
}

.footer{
  padding-top: 3% !important;
  padding-left: 5% !important;
  color: #FFFFFF;
  background-color: #3C2F29;
  min-height: 20vh;
  font-size: 2.1vw;
  font-family: 'Roboto Mono', sans-serif;

}

.h-text {
  transform: rotate(-180deg);
}

p{
  word-spacing:1%;
  line-height: 1.25;
}

.nopadding-left {
   text-align: right;
   padding: 0 !important;
   margin: 0 !important;
   letter-spacing: 2.5px;
}

.nopadding-right {
   text-align: left;
   letter-spacing: 2.5px;
}
/*  section 3 */
.p6 {
  min-height: 20vh;
  font-family: 'Roboto Mono', sans-serif;
  color:#3C2F29;
  font-size: 2.1vw;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 15% !important;
  padding-right: 15% !important;
}
.backgroundforp6{
  background-color: #FDF2E2;
}